*{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgba(127, 255, 212, 0.469);
}
.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding: 50px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
#title{
    font-size: 65px;
    word-spacing: 4vh;
    color: rgb(37, 24, 113);

}
label{
    display: block;
    padding: 12px;
}
input[type="text"]{
    border: 1px solid grey;
    border-radius: 3px;
    background-color: rgba(86, 187, 28, 0.108);
    padding: 5px 10px 5px 10px;
}

input[type="text"]:focus{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
input[type="submit"],input[type="reset"]{
    margin-left: 7%;
    width: 145px;
    cursor: pointer;
    border-radius: 4px;
}
input[type="submit"]{
    border: 3px solid rgb(78, 47, 255);
    margin-left: 26%;
}
input[type="reset"]{
    border: 3px solid rgb(145, 135, 135);
}

form{
    border: 2px solid black;
    border-radius: 40px 0 40px 0;
    margin-top: 5%;
    width: max-content;
    padding: 50px;
    background: url("background.webp");
}