*{
    font-size: 31px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}
body{
    background-color: rgb(213, 252, 233);
}
#title{
    font-size: 63px;
    color:#6b0e06;
    word-spacing: 1px; letter-spacing:1px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
#form{
    width: max-content;
    border: 4px solid rgb(226, 8, 142);
    padding: 50px 80px 50px 80px;
    align-items: center;
    margin: 70px auto 50px auto;
    background: url("background.webp");
    border-radius: 0 40px 0 40px;
}
input[type="text"]{
    display: block  ;
    width: 89%;
    height: 39px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(167, 185, 196);
    border-radius: 5px;
    padding: 3px 0 3px 0;
}

#entrybtn,#exitbtn{
    width: 40%;
    height: 70px;
    font-size: 37px;
    margin-top: 40px;
}
#entrybtn{
    margin-left: -8%;
    border: 2px solid blue;
    background-color: rgba(78, 250, 75, 0.77);
    border-radius: 4px;
    
}

#exitbtn{
    margin-left: 9%;
    border: 2px solid rgb(255, 72, 0);
    background-color: rgba(250, 195, 75, 0.77);
    border-radius: 4px;
}
#entrybtn:hover,#exitbtn:hover{
    cursor: pointer;
    box-shadow: rgba(153, 170, 25, 0.12) 0px 5px 5px 0px, rgb(113, 113, 123) 4px 4px 4px 0px;
}
