.title{
    margin-left: auto;
    margin-right: auto;
    color: rgb(9, 60, 171);
    font-size: 75px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    border-bottom: 3px solid rgb(51, 10, 187);
    padding-bottom: 5px;
}
body{
    background-color: rgb(156, 211, 250);
}
form{
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(15, 13, 98);
    width: 36%;
    height: 220px;
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-radius: 0px 50px 0px 50px ;
    background-image: url("background.webp");
}
#roll{
    width: 60%;
    height: 50px;
    font-size: 25px;
    border: 2px solid rgb(76, 70, 70);
    text-align: center;
}
#submit{
    margin-top: 35px;
    width: 40%;
    height: 50px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(52, 248, 248);
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(16, 66, 167);
    color: aliceblue;
}